// Custom variables

// Colors
$raspberry: #D33131;
$raspberry-light: #E53B3B;
$raspberry-lighter: #FF9797;

$blueberry: #1CB0F6;
$blueberry-light: #14D4F4;
$blueberry-lighter: #BCE9FF;

$banana: #FFB020;
$banana-light: #FFC300;
$banana-lighter: #FFF277;

$kiwi: #7AC70C;
$kiwi-light: #8EE000;
$kiwi-lighter: #BFF199;

$jelly: #8549BA;
$jelly-light: #A560EB;
$jelly-lighter: #CA94FF;

$pumpkin: #FA811B;
$pumpkin-light: #FF9400;
$pumpkin-lighter: #FFCF7A;

$licorice: #4C4C4C;
$licorice-light: #777777;
$licorice-lighter: #AFAFAF;

$cloud: #CFCFCF;
$cloud-light: #DDDDDD;
$cloud-lighter: #F0F0F0;

$creme: #FFFFFF;
$coal: #000000;

// Other
$pm-size-small: .5rem;
$pm-size: 1rem;
$pm-size-medium: 2rem;
$pm-size-large: 3rem;

$lighter: 40;
$lightest: 80;

$radius: 10px;
$radius-round: 290486px;

// Bulma initial variables override

// Fonts
$family-sans-serif: "Nunito",
sans-serif;

// Colors
$grey-dark: $licorice;
$grey-light: $cloud;
$primary: $blueberry;
$danger: $raspberry;
$success: $kiwi;
$white: $creme;
$black: $coal;
$light: $cloud-lighter;
$dark: $licorice;
$info: $blueberry-light;
$link: $blueberry-light;
$warning: $banana;

// Bulma's component variables override

// Forms
$control-border-width: 2px;
$input-background-color: $white;
$input-border-color: $cloud-light;
$input-focus-color: $blueberry-light;
$input-shadow: none;
$input-focus-border-color: $blueberry-light;
$input-focus-box-shadow-size: none;

// Buttons
$button-padding-horizontal: 1.6rem;

$new-colors: ("white": $white, "black": $black, "light": $light, "dark": $dark, "primary": $primary, "danger": $danger, "warning": $warning, "success": $success, "info": $info, "link": $link);