a.button,
button.button,
input.button {
  border-radius: $radius;
  font-weight: bold;
  @include transition(all .3s ease);
  @include box-shadow;

  &.is-outlined {
    box-shadow: none;
  }
}

.input {
  caret-color: $primary;
  @include transition(all .3s ease);
}

.card {
  border-radius: $radius;
}