.user {
  h3 {
    color: $primary;
  }

  &-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-info {
    &--hireable {
      display: flex;
      align-items: center;
    }
  }
}