.navbar {
  &-brand {
    & > .navbar-item {
      font-weight: $weight-bold;
    }

    i {
      margin-right: $pm-size-small;
    }
  }

  &-item {
    font-weight: $weight-semibold;
    @include transition(all .3s ease);
  }
}